
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.app {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.left-side {
  flex: 1;
  padding-right: 50px;
  border-right: 1px solid #ddd;
}

.right-side {
  flex: 2;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.destination, .food, .hotel {
  background-color: #fafafa;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.destination h3, .food h3, .hotel h3 {
  margin-top: 0;
  font-size: 22px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.destination div, .food div, .hotel div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.destination div img, .food div img, .hotel div img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 5px;
}

.destination h4, .food h4, .hotel h4 {
  margin: 0;
  font-size: 18px;
}

.destination p, .food p, .hotel p {
  margin: 0;
  font-size: 16px;
  color: #555;
}

.receipt {
  background-color: #fafafa;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.receipt h2 {
  margin-top: 0;
  font-size: 24px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}


.receipt h3 {
  font-size: 20px;
  margin-top: 20px;
  text-align: right;
}
